<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>updateprofile</servlet-name>
        <servlet-class>com.personalinventory.controller.updateprofile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>incomecategory</servlet-name>
        <servlet-class>com.personalinventory.controller.incomecategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddExpenses</servlet-name>
        <servlet-class>com.personalinventory.controller.AddExpenses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Daybook</servlet-name>
        <servlet-class>com.personalinventory.controller.Daybook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cashbook</servlet-name>
        <servlet-class>com.personalinventory.controller.Cashbook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BankBook</servlet-name>
        <servlet-class>com.personalinventory.controller.BankBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BalanceSheet</servlet-name>
        <servlet-class>com.personalinventory.controller.BalanceSheet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterControl</servlet-name>
        <servlet-class>com.personalinventory.controller.RegisterControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginCheck</servlet-name>
        <servlet-class>com.personalinventory.controller.LoginCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewuser</servlet-name>
        <servlet-class>com.personalinventory.controller.viewuser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DayBookController</servlet-name>
        <servlet-class>com.personalinventory.controller.DayBookForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddExpensesForm</servlet-name>
        <servlet-class>com.personalinventory.controller.AddExpensesForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addIncomeForm</servlet-name>
        <servlet-class>com.personalinventory.controller.addIncomeForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CashbookFrom</servlet-name>
        <servlet-class>com.personalinventory.controller.CashbookFrom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addIncome</servlet-name>
        <servlet-class>com.personalinventory.controller.addIncome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DayBookForm</servlet-name>
        <servlet-class>com.personalinventory.controller.DayBookForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BalanceSheetForm</servlet-name>
        <servlet-class>com.personalinventory.controller.BalanceSheetForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BankBookForm</servlet-name>
        <servlet-class>com.personalinventory.controller.BankBookForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>incomecategoryForm</servlet-name>
        <servlet-class>com.personalinventory.controller.incomecategoryForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateprofileForm</servlet-name>
        <servlet-class>com.personalinventory.controller.updateprofileForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>expensescategory</servlet-name>
        <servlet-class>com.personalinventory.controller.expensescategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>expensescategoryform</servlet-name>
        <servlet-class>com.personalinventory.controller.expensescategoryform</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateECategory</servlet-name>
        <servlet-class>com.personalinventory.controller.UpdateECategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteECategory</servlet-name>
        <servlet-class>com.personalinventory.controller.DeleteECategory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateprofile</servlet-name>
        <url-pattern>/updateprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>incomecategory</servlet-name>
        <url-pattern>/incomecategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddExpenses</servlet-name>
        <url-pattern>/AddExpenses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Daybook</servlet-name>
        <url-pattern>/Daybook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cashbook</servlet-name>
        <url-pattern>/Cashbook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BankBook</servlet-name>
        <url-pattern>/BankBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BalanceSheet</servlet-name>
        <url-pattern>/BalanceSheet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterControl</servlet-name>
        <url-pattern>/RegisterControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginCheck</servlet-name>
        <url-pattern>/LoginCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewuser</servlet-name>
        <url-pattern>/viewuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DayBookController</servlet-name>
        <url-pattern>/DayBookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddExpensesForm</servlet-name>
        <url-pattern>/AddExpensesForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addIncomeForm</servlet-name>
        <url-pattern>/addIncomeForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CashbookFrom</servlet-name>
        <url-pattern>/CashbookFrom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addIncome</servlet-name>
        <url-pattern>/addIncome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DayBookForm</servlet-name>
        <url-pattern>/DayBookForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BalanceSheetForm</servlet-name>
        <url-pattern>/BalanceSheetForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BankBookForm</servlet-name>
        <url-pattern>/BankBookForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>incomecategoryForm</servlet-name>
        <url-pattern>/incomecategoryForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateprofileForm</servlet-name>
        <url-pattern>/updateprofileForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>expensescategory</servlet-name>
        <url-pattern>/expensescategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>expensescategoryform</servlet-name>
        <url-pattern>/expensescategoryform</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateECategory</servlet-name>
        <url-pattern>/UpdateECategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteECategory</servlet-name>
        <url-pattern>/DeleteECategory</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
